{
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "extends": "eslint:recommended",
  "plugins": [
    "mocha"
  ],
  "rules": {
    "comma-spacing": [2, { "before": false, "after": true }],
    "indent": [2, 2],
    "linebreak-style": [2, "unix"],
    "object-shorthand": ["error", "always", { "avoidQuotes": true,  "avoidExplicitReturnArrows": true }],
    "mocha/no-exclusive-tests": 2,
    "mocha/no-skipped-tests": 2,
    "quotes": [2, "single"],
    "semi": [2, "always"]
  }
}
