{
  "env": {
    "node": true,
    "es6": true,
    "jest/globals": true
  },
  "extends": ["eslint:recommended", "plugin:jest/recommended", "prettier"],
  "plugins": ["jest"],
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "comma-spacing": ["error", { "before": false, "after": true }],
    "complexity": ["error", 4],
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    "object-shorthand": [
      "error",
      "always",
      { "avoidQuotes": true, "avoidExplicitReturnArrows": true }
    ],
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error",
    "quotes": ["error", "single", { "avoidEscape": true }],
    "semi": ["error", "always"]
  }
}
